<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 ">
					<div class="row">
						<div class="col-md-2 col-lg-2 col-xs-6 col-sm-3">
							<div class="company-text">
								<h2>company</h2>
								<ul>
									<li><a style="color: #909090;" href="http://www.yogems.com/about-us/">About us</a></li>
									<li><a  style="color: #909090;" href="http://www.yogems.com/jobs/">Careers</a></li>
									<li><a  style="color: #909090;" href="http://www.yogems.com/contact-us/">Contact Us</a></li>
								</ul>
							</div>
						</div>
                        <div class="col-md-2 col-lg-2 col-xs-6 col-sm-3">
							<div class="company-text">
								<h2>ACTIVITIES</h2>
								<ul>

									<li><a style="color: #909090;" href="/activity/Badminton">Badminton</a></li>
									<li><a style="color: #909090;" href="/activity/Lawn-Tennis">Lawn Tennis</a></li>
									<li><a style="color: #909090;" href="/activity/Table-tennis">Table Tennis</a></li>
									<li>Dance</li>
									<li>Music</li>
									<li>Arts and Crafts</li>

								</ul>
							</div>
						</div>
                        <div class="col-md-2 col-lg-2 col-xs-6 col-sm-3">
							<div class="company-text">
								<h2>EXPLORE</h2>
								<ul>
									<li><a  style="color: #909090;" href="http://www.yogems.com/answers/">Queries </a></li>
									<li><a  style="color: #909090;"  href="http://www.yogems.com/Yopedia/guide/">Guide </a></li>
									<li><a  style="color: #909090;" href="http://www.yogems.com/Yopedia/articles/">Articles</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-6 col-sm-3">
							<div class="company-text">
								<h2>COACH</h2>
								<ul>
									<li><a  style="color: #909090;" href="http://www.yogems.com/partner/signin">Coach login</a></li>
									<li><a  style="color: #909090;" href="http://www.yogems.com/partner/register">Register as Coach </a></li>
								</ul>
							</div>
                                                    <div class="company-text">
                                                    <h2>Events</h2>
                                                    <ul>
                                                        <li><a  style="color: #909090;" href="https://www.yogems.com/add-an-event">List your Event</a></li>

                                                    </ul>
                                                </div>
						</div>


						<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
							<div class="company-text">
                                                                <div class="col-sm-6 col-md-12  pd0">
                                <h2>Support</h2>
                                <ul>
                                    <li>Email: <a href="mailto:support@yogems.com" style="color: #909090;"  target="_top">&nbsp;support@yogems.com</a></li>
                                    <li>Phone: <a href="tel:+91 9711024466" target="_top" style="color: #909090;">+91 9711024466</a></li>

								</ul>
                                                                </div>
                                                                <div class="col-sm-6 col-md-12 pd0">
								<h2>connect with us</h2>
								<ul class="social">
                                                                    <li><a href="https://www.facebook.com/YoGems/" target="_blank">
									</a></li>
									<li><a href="https://twitter.com/yo_gems" target="_blank">
									</a></li>
									<li><a href="https://www.instagram.com/yo_gems/" target="_blank">
									</a></li>
									<li><a href="https://in.pinterest.com/Yo_Gems/" target="_blank">
									</a></li>
                                                                        <li><a href="https://plus.google.com/+YoGems" target="_blank">
									</a></li>
								</ul>
                                                                <div class="clearfix"></div>
								<h2 class="m14">We Accept</h2>
								<ul class="payment-icon">
									<li></li>
                                                                        <li></li>
                                                                        <li></li>
                                                                        <li></li>
                                                                        <li></li>
                                                                </ul>
                                                                </div>
							</div>
						</div>
					</div>
          <section id="footer-bottom" >
          <h2 ng-cloak>© 2017 YoGems, All rights reserved | <a href="http://www.yogems.com/privacy-policy/">Privacy Policy</a> | <a href="http://www.yogems.com/terms-of-use/">Terms and Conditions</a></h2>
				</section>
				</div>
			</div>
		</div>
	</div>

	<!-- <section id="footer-bottom" >

	</section> -->
